<template>
    <v-container grid-list-md>
    <v-layout row wrap>
        <v-flex
                xs12
                sm6
                md4
                lg3
                xl2
                v-for="product in products"
        >
            <v-card hover>
                <v-card-media :src="'http://ba14ns21400.fhnw.ch/fwshop/img/'+product.img" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                    <div class="cardinfo">
                        <h3 class="headline mb-1" v-text="product.name[locale]"></h3>
                        <div class="productdescription mb-3" v-text="product.description[locale]"></div>
                        <div class="carddesc">
                            <span class="label" v-text="getText('location')"></span>
                            <span class="value" v-text="product.institute"></span>
                        </div>
                        <div class="carddesc">
                            <span class="label" v-text="getText('availability')"></span>
                            <span class="value" v-text="product.institute"></span>
                        </div>
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-btn flat @click.native="addToCart(product.id)" ><v-icon>shopping_cart</v-icon><span v-text="getText('addtocart')"></span></v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
        <v-snackbar :timeout="timeout" bottom multi-line v-model="snackbar">
            {{snackbaritem}} {{getText('added')}}
            <v-btn dark flat @click.native="snackbar = false" v-text="getText('close')"></v-btn>
        </v-snackbar>
    </v-container>
</template>
<script>
    import axios from 'axios'
    export default {
      name: 'categoryproducts',
      props: ['locale', 'cart'],
      data () {
        return {
          products: null,
          snackbar: false,
          snackbaritem: '',
          timeout: 2000,
          strings: {
            addtocart: { de: 'In den Warenkorb', en: 'Add to Cart' },
            added: { de: 'hinzugefügt', en: 'added' },
            close: { de: 'Schliessen', en: 'Close' },
            location: { de: 'Ort', en: 'Location' },
            availability: { de: 'Verfügbarkeit', en: 'Availability' }
          }
        }
      },
      methods: {
        getProducts () {
          var self = this
          axios.get('http://ba14ns21400.fhnw.ch/fwshop/categoryproducts.php?category=' + self.$route.params.catName)
          .then(function (response) {
            self.products = response.data
          })
          .catch(function (error) {
            console.log('Products not loaded: ' + error)
          })
        },
        getText ($key) {
          return this.strings[$key][this.locale]
        },
        addToCart (productId) {
          this.products.forEach((p) => {
            if (p.id === productId) {
              if (this.cart.hasOwnProperty(productId)) {
                this.cart[productId].count += 1
              } else {
                this.cart[productId] = p
                this.cart[productId].count = 1
              }
              this.snackbaritem = `${this.cart[productId].count}x ${this.cart[productId].name[this.locale]}`
              this.snackbar = true
            }
          })
          this.$emit('cartcount')
        }
      },
      watch: {
        '$route' (to, from) {
          console.log('Load Product Category Data: ' + to.keys)
          this.getProducts()
        }
      },
      mounted () {
        console.log('Load Product Category Data: mounted')
        this.getProducts()
      }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    button{
        margin: 0 auto;
    }
    .card:hover {
        z-index: 3;
    }
    .headline{
        height: 65px;
        overflow: hidden;
    }
    .productdescription{
        height: 60px;
        overflow: hidden;
    }
    .carddesc .label{
        text-align: left;
        display: inline-block;
        width: 48%;
    }
    .carddesc .value{
        text-align: right;
        display: inline-block;
        width: 50%;
    }
    .cardinfo {
        width: 100%;
    }
</style>