<template>
  <v-app light>
    <v-navigation-drawer
      persistent
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
    >
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img src="/static/logo.png" />
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>Graziano von Allmen</v-list-tile-title>
              <v-list-tile-sub-title>graziano.vonallmen@fhnw.ch</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-card flat class="text-xs-center">
      <v-dialog
              persistent
              v-model="sdatemodal"
              lazy
      >
        <v-text-field
                slot="activator"
                :label="getText('startdate')"
                v-model="sdate"
                prepend-icon="event"
                readonly
        ></v-text-field>
        <v-date-picker v-model="sdate" scrollable :first-day-of-week="1" :locale="locale" :allowed-dates="allowedDates">
          <template scope="{ save, cancel }">
            <v-card-actions>
              <v-btn flat primary @click.native="cancel()" v-text="getText('cancel')"></v-btn>
              <v-btn flat primary @click.native="save()" v-text="getText('save')"></v-btn>
            </v-card-actions>
          </template>
        </v-date-picker>
      </v-dialog>
      <v-dialog
              persistent
              v-model="edatemodal"
              lazy
      >
        <v-text-field
                slot="activator"
                :label="getText('enddate')"
                v-model="edate"
                prepend-icon="event"
                readonly
        ></v-text-field>
        <v-date-picker v-model="edate" scrollable :first-day-of-week="1" :locale="locale" :allowed-dates="allowedDates">
          <template scope="{ save, cancel }">
            <v-card-actions>
              <v-btn flat primary @click.native="cancel()">Abbrechen</v-btn>
              <v-btn flat primary @click.native="save()">Speichern</v-btn>
            </v-card-actions>
          </template>
        </v-date-picker>
      </v-dialog>
        <v-card-actions>
          <v-btn flat v-text="getText('checkavailability')" :disabled="validDates()===false"></v-btn>
        </v-card-actions>
      </v-card>
      <v-divider></v-divider>
      <v-expansion-panel expand>
        <v-expansion-panel-content v-for="category in categories.grouped">
          <div slot="header">{{category.cat[locale]}}</div>
          <v-list>
            <v-list-tile v-for="subcat in category.subcats">
              <v-list-tile-action>
                <v-icon>chevron_right</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title><router-link :to="{ name: 'CategoryProducts', params: { catName: subcat.id }}" v-text="subcat[locale]"></router-link></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <v-divider></v-divider>
      <v-list>
        <v-list-tile v-for="solocat in categories.solo.subcats">
          <v-list-tile-action>
            <v-icon>chevron_right</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title><router-link :to="{ name: 'CategoryProducts', params: { catName: solocat.id }}" v-text="solocat[locale]"></router-link></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed >
      <v-toolbar-side-icon @click.stop="drawer = !drawer" light></v-toolbar-side-icon>
      <v-toolbar-title v-text="getText('title')"></v-toolbar-title>
      <v-spacer light></v-spacer>
      <v-btn flat @click.native="toggleLocale">
        <v-icon>language</v-icon>
        {{(locale === 'de' ? 'EN' : 'DE')}}
      </v-btn>
      <v-btn flat @click.native="goToCheckout()" :disabled="cartitemcount===0">
        <v-icon>shopping_cart</v-icon>
        {{cartitemcount}}
      </v-btn>
    </v-toolbar>
    <main>
      <router-view :locale="locale" :cart="cart" @cartcount="updateCart"></router-view>
    </main>
    <v-footer>
      <span>&copy; 2017 {{getText('hgk')}}</span>
    </v-footer>
  </v-app>
</template>

<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        clipped: false,
        drawer: true,
        sdatemodal: false,
        edatemodal: false,
        sdate: null,
        edate: null,
        locale: 'de',
        items: [
          { icon: 'bubble_chart', title: 'Inspire' }
        ],
        categories: { solo: null, grouped: null },
        title: 'Ausleihe HGK',
        strings: {
          title: { de: 'Ausleihe HGK', en: 'HGK Lending' },
          startdate: { de: 'Startdatum', en: 'Starting date' },
          enddate: { de: 'Enddatum', en: 'Ending date' },
          checkavailability: { de: 'Verfügbarkeit prüfen', en: 'Check availability' },
          cancel: { de: 'Abbrechen', en: 'Cancel' },
          save: { de: 'Speichern', en: 'Save' },
          hgk: { de: 'Hochschule für Gestaltung und Kunst FHNW', en: 'Academy of Design and Arts FHNW' }
        },
        cart: {},
        cartitemcount: 0
      }
    },
    methods: {
      goToCheckout () {
        this.$router.push('checkout')
      },
      toggleLocale () {
        this.locale = (this.locale === 'de' ? 'en' : 'de')
        this.sortCategories()
      },
      sortCategories () {
        this.categories.solo.subcats.sort(function (a, b) {
          if (a[this.locale] < b[this.locale]) return -1
          if (a[this.locale] > b[this.locale]) return 1
          return 0
        }.bind(this))
        this.categories.grouped.sort(function (a, b) {
          if (a.cat[this.locale] < b.cat[this.locale]) return -1
          if (a.cat[this.locale] > b.cat[this.locale]) return 1
          return 0
        }.bind(this))
        this.categories.grouped.forEach(function (catitem) {
          catitem.subcats.sort(function (a, b) {
            if (a[this.locale] < b[this.locale]) return -1
            if (a[this.locale] > b[this.locale]) return 1
            return 0
          }.bind(this))
        }.bind(this))
      },
      getText ($key) {
        return this.strings[$key][this.locale]
      },
      allowedDates ($date) {
        return ($date.getDay() > 0 && $date.getDay() < 6)
      },
      validDates () {
        return (this.sdate != null && this.edate != null && new Date(this.sdate) < new Date(this.edate))
      },
      getCategories () {
        var self = this
        axios.get('http://ba14ns21400.fhnw.ch/fwshop/categories.php')
          .then(function (response) {
            self.categories.solo = response.data.solo
            self.categories.grouped = response.data.grouped
            self.sortCategories()
            // console.log(this)
          })
          .catch(function (error) {
            console.log('Categories not loaded: ' + error)
          })
      },
      sortedSubCats (category) {
        return category.subcats.sort(function (a, b) {
          if (a[this.locale] < b[this.locale]) return -1
          if (a[this.locale] > b[this.locale]) return 1
          return 0
        }.bind(this))
      },
      updateCart () {
        this.cartitemcount = 0
        for (var key in this.cart) {
          if (this.cart.hasOwnProperty(key)) {
            this.cartitemcount += this.cart[key].count
          }
        }
      }
    },
    mounted () {
      this.getCategories()
    }
  }
</script>

<style lang="stylus">
  @import './stylus/main'
</style>

<style scoped>
  button{
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    font-weight: bolder;
  }
</style>

<style>
  .card__media__background{
    background-size: auto 100% !important;
    background-position:center;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
  }
  .card:hover .card__media .card__media__background{
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
  }
</style>